* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TopBanner {            
    background: #f8f8f8;
    overflow: hidden;
    height: 100px;
    transition: 0.5s;
}

.TopBanner.on {
    height: 0;
}

.btn {
    display: inline-block;
    font-size: 30px;
    color: #f00;
    transition: 0.5s;
}

.btn.on {
    transform: rotate(0.5turn);
}